<%- include('./head') %>

    <body>

        <!-- Navigation -->
        <%- include("./nav"); %>

            <!-- Page Content -->
            <div class="container">

                <!-- slider -->
                <div class="row carousel-holder">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Đăng nhập</div>
                            <div class="panel-body">
                                <form action="./dangnhap" method="POST">
                                    <div>
                                        <label>Email</label>
                                        <input type="text" class="form-control" placeholder="Email" name="email"
                                            required>
                                    </div>
                                    <br>
                                    <div>
                                        <label>Mật khẩu</label>
                                        <input type="password" class="form-control" name="password" required>
                                    </div>
                                    <br>
                                    <div style="color:red;">
                                        <%= error %>
                                    </div>
                                    <button type="submit" name="btnDangNhap" class="btn btn-success">Đăng nhập</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <!-- end slide -->
            </div>
            <!-- end Page Content -->

            <!-- Footer -->
            <%- include('./footer') %>
            <!-- end Footer -->

            <!-- jQuery -->
            <script src="/js/jquery.js"></script>
            <!-- Bootstrap Core JavaScript -->
            <script src="/js/bootstrap.min.js"></script>
            <script src="/js/my.js"></script>

    </body>

    </html>