<!-- Footer -->
<hr>
    <footer>
        <div class="row">
            <div class="col-md-12">
                <p class="footerP" style="color:red">Copyright &copy; By Ngô Trung Hiếu Kiên</p>
            </div>
        </div>
    </footer>
    <!-- end Footer -->