<%- include('./head') %>

<body>

    <!-- Navigation -->
    <%- include('./nav') %>

    <!-- Page Content -->
    <div class="container">

        <div class="row main-left">

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading danhMuc" style="background-color:#337AB7; color:white;">
                        <h2 style="margin-top:0px; margin-bottom:0px;">Giới thiệu</h2>
                    </div>

                    <div class="panel-body">
                        <div class="text-center">
                            <img src="/img/Kien.jpg" alt="Kien" style="width:20%">
                            <h1>Ngô Trung Hiếu Kiên</h1>
                            <p class="chucVu">
                                Ủy Viên Ban chấp hành Đoàn Khoa Công nghệ thông tin<br>
                                Lớp trưởng lớp C23A.TH2<br>
                                Chi hội trưởng Hội Sinh viên C23A.TH2<br>
                            </p>
                            <h3 class="truong">Trường Cao đẳng Giao thông vận tải</h3>
                            <div class="w-50" style="font-size:18px;">
                                Năm sinh: 2002<br>
                                Quê quán: Bình Phước<br> 
                            </div>
                            <div style="margin: 20px 0;">
                                <a class="iconContact" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="iconContact" href="https://www.facebook.com/ngokien02"><i
                                        class="fab fa-facebook"></i></a>
                                <a class="iconContact" href="https://github.com/ngokien02"><i
                                        class="fab fa-github"></i></a>
                            </div>
                            <a href="https://www.facebook.com/ngokien02"><button class="btnContact">Contact
                                    Facebook</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- end Page Content -->

    <!-- Footer -->
    <%- include('./footer') %>
    <!-- end Footer -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/my.js"></script>

</body>

</html>